:root {
  --blue: #0dcaf0;
}

body {
  background: rgb(42, 42, 54);
  color: white;
}

section {
  margin: 200px 0;
  @media (max-width: 768px) {
    margin: 100px 0;
  }
}

.about {
  max-width: 800px;
  margin-top: 100px;
  h1 {
    color: rgb(255, 255, 255);
  }
}
.about {
  @media (max-width: 768px) {
    margin-top: 50px;
  }
  .avatar {
    height: 200px;
    width: 200px;
    @media (max-width: 768px) {
      height: 150px;
      width: 150px;
    }
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #333;
    filter: drop-shadow(16px 16px 20px rgba(26, 26, 26, 0.651));
  }
  h1 {
    margin-top: 40px;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
  p {
    @media (max-width: 768px) {
      font-size: 1rem;
      line-height: 2;
    }
  }
}

.skills {
  i {
    font-size: 4rem;
    margin: 20px 30px;
    transition: all 0.3s;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
  }
  i:hover {
    color: var(--blue);
  }
}

.projects {
  img {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    width: 100%;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
    @media (max-width: 768px) {
      width: 80%;
    margin-bottom: 20px;

    }
  }

  hr {
    margin: 3rem auto;
    width: 90%;
  }
}

.contact {
  i {
    font-size: 3rem;
    margin: 30px 0;
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  h5 {
    // display: inline-block;
    @media (max-width: 768px) {
      // font-weight: normal;
      font-size: 1rem;
    }
  }
  .contact-item {
    margin-bottom: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @media (max-width: 768px) {
      justify-content: start;
    }
    a {
      display: flex;
      flex-direction: column;
      transition: all 0.3s;
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: var(--blue);
      }
    }
  }
}

.nav-item {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.c2a {
  position: relative;
  a {
    color: black !important;
  }
}

.back-to-top {
  position: fixed;
  right: -125px;
  bottom: 25px;
  transition: transform 0.6s ease-in-out, background-color 0.2s;
}
.appear {
  transform: translateX(-150px);
}

// #arrow-svg {
//   position: absolute;
//   right: 20px;
//   bottom: -160px;
//   .path {
//     stroke-dasharray: 350;
//     stroke-dashoffset: 350;
//     animation: dash 2s ease-out 2s infinite;
//   }
// }

@keyframes dash {
  0% {
    stroke-dashoffset: 350;
  }
  50% {
    stroke-dashoffset: -0;
  }
  60% {
    stroke-dashoffset: -350;
  }
  100% {
    stroke-dashoffset: -350;
  }
}